<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;height: 90vh; min-height: 100%; ">
    <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Admin Dashboard</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a routerLink="/home" class="nav-link active text-white " aria-current="page" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                Home
            </a>
        </li>
        <li>
            <a routerLink="/dashboard" class="nav-link active text-white" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                Dashboard
            </a>
        </li>
        <li>
            <a routerLink="/dashboard/all-event" class="nav-link active text-white" routerLinkActive="active">
                All Events
            </a>
        </li>
    </ul>
</div>